<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
                    <match url="^about\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="about" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^about$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="about.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL2" stopProcessing="true">
                    <match url="^login\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="login" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^login$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="login.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL3" stopProcessing="true">
                    <match url="^register\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="register" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^register$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="register.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL4" stopProcessing="true">
                    <match url="^contact\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="contact" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL4" stopProcessing="true">
                    <match url="^contact$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="contact.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL5" stopProcessing="true">
                    <match url="^account\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="account" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL5" stopProcessing="true">
                    <match url="^account$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="account.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL6" stopProcessing="true">
                    <match url="^registeraccount\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="register" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL6" stopProcessing="true">
                    <match url="^register$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="registeraccount.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL7" stopProcessing="true">
                    <match url="^transfer\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="transfer" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL7" stopProcessing="true">
                    <match url="^transfer$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="transfer.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL8" stopProcessing="true">
                    <match url="^cashierlogin\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="cashierlogin" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL8" stopProcessing="true">
                    <match url="^cashierlogin$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="cashierlogin.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL9" stopProcessing="true">
                    <match url="^admin\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="admin" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL9" stopProcessing="true">
                    <match url="^admin$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="admin.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL10" stopProcessing="true">
                    <match url="^cashier\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="cashier" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL10" stopProcessing="true">
                    <match url="^cashier$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="cashier.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL11" stopProcessing="true">
                    <match url="^adminlogin\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="adminlogin" appendQueryString="false" />
                </rule>
                <rule name="RedirectUserFriendlyURL11" stopProcessing="true">
                    <match url="^cashierhome\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="cashierhome" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL11" stopProcessing="true">
                    <match url="^adminlogin$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="adminlogin.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL12" stopProcessing="true">
                    <match url="^cashierhome\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="cashierhome" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL12" stopProcessing="true">
                    <match url="^cashierhome$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="cashierhome.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL13" stopProcessing="true">
                    <match url="^manageaccount\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="manageaccount" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL13" stopProcessing="true">
                    <match url="^manageaccount$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="manageaccount.asp" />
                </rule>
                <rule name="RedirectUserFriendlyURL14" stopProcessing="true">
                    <match url="^accountadmin\.asp$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="accountadmin" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL14" stopProcessing="true">
                    <match url="^accountadmin$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="accountadmin.asp" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="OutboundRewriteUserFriendlyURL1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)about\.asp$" />
                    <action type="Rewrite" value="{R:1}/ about" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL2" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)login\.asp$" />
                    <action type="Rewrite" value="{R:1}/ login" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL3" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)register\.asp$" />
                    <action type="Rewrite" value="{R:1}/ register" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL4" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)contact\.asp$" />
                    <action type="Rewrite" value="{R:1}/ contact" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL5" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)account\.asp$" />
                    <action type="Rewrite" value="{R:1}/ account" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL6" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)registeraccount\.asp$" />
                    <action type="Rewrite" value="{R:1}/ registeraccount" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL7" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)transfer\.asp$" />
                    <action type="Rewrite" value="{R:1}/ transfer" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL8" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)cashierlogin\.asp$" />
                    <action type="Rewrite" value="{R:1}/ cashierlogin" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL9" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)admin\.asp$" />
                    <action type="Rewrite" value="{R:1}/ admin" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL10" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)cashier\.asp$" />
                    <action type="Rewrite" value="{R:1}/ cashier" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL11" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)adminlogin\.asp$" />
                    <action type="Rewrite" value="{R:1}/ adminlogin" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL11" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)cashierhome\.asp$" />
                    <action type="Rewrite" value="{R:1}/ cashierhome" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL12" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)cashierhome\.asp$" />
                    <action type="Rewrite" value="{R:1}/ cashierhome" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL13" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)manageaccount\.asp$" />
                    <action type="Rewrite" value="{R:1}/ manageaccount" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL14" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)accountadmin\.asp$" />
                    <action type="Rewrite" value="{R:1}/ accountadmin" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Provider=sqloledb;Server={PUT INSTANCE NAME HERE};Database=FauxBank;Integrated Security=SSPI;" name="DefaultConnection" />
    </connectionStrings>
</configuration>
